@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

       <main>
@*            <AuthorizeView>
           <Authorized>
               </Authorized>
</AuthorizeView> *@
        <div class="top-row px-4">          
            <a href="parceiros" target="_blank" style="color:white;background-color:#0C2262;border-radius:5px;text-decoration: none;"><img src="/deku.png" style="height:55px;width:55px;"/> Parceiros</a>
            <a href="perguntas" target="_blank" style="color:white;background-color:#0C2262;border-radius:5px;text-decoration: none;"><img src="/backugo.png" style="height:55px;width:55px;"/>FAQ</a>
            <a href="sobre" target="_blank" style="color:white;background-color:#0C2262;border-radius:5px;text-decoration: none;"><img src="/shoto.png" style="height:55px;width:55px;" />Sobre</a>
            <a href="contato" target="_blank" style="color:white;background-color:#0C2262;border-radius:5px;text-decoration: none;"><img src="/boruto-uzumaki.png" style="height:55px;width:55px;" />Contato</a>
            <a href="politicas" target="_blank" style="color:white;background-color:#0C2262;border-radius:5px;text-decoration: none;"><img src="/tanjiro-kamado.png" style="height:55px;width:55px;" />Políticas de Cookies & Privacidade</a>
            <LoginDisplay />
        </div>
        <article class="content px-4">
                @Body
        </article>
    </main>
</div>
