@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

       <main>

        <div class="top-row px-4">          
@*             <NavLink class="nav-link" href="https://localhost:7287/imageGenerator">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Gerador de imagens
            </NavLink>
            <NavLink class="nav-link" href="https://localhost:7287/geekGPT2">
                <span class="oi oi-list" aria-hidden="true"></span> GeekGPT2
            </NavLink>
            <NavLink class="nav-link" href="https://localhost:7287/geekGPT">
                <span class="oi oi-list" aria-hidden="true"></span> GeekGPT
            </NavLink>
            <NavLink class="nav-link" href="catalogo">
                <span class="oi oi-list" aria-hidden="true"></span> Catálogo
            </NavLink>
            <NavLink class="nav-link" href="mangas">
                <span class="oi oi-plus" aria-hidden="true"></span> Mangás
            </NavLink> *@
            <a href="parceiros" target="_blank" style="color:white;background-color:#0C2262;border-radius:5px;text-decoration: none;">Parceiros</a>
            <a href="perguntas" target="_blank" style="color:white;background-color:#0C2262;border-radius:5px;text-decoration: none;">FAQ</a>
            <a href="sobre" target="_blank" style="color:white;background-color:#0C2262;border-radius:5px;text-decoration: none;">Sobre</a>
            <a href="contato" target="_blank" style="color:white;background-color:#0C2262;border-radius:5px;text-decoration: none;">Contato</a>
            <a href="politicas" target="_blank" style="color:white;background-color:#0C2262;border-radius:5px;text-decoration: none;">Políticas de Cookies & Privacidade</a>
            <LoginDisplay />
        </div>
        <article class="content px-4">
                @Body
        </article>
    </main>
</div>
