<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="" style="color:black;font-family:Arial;"><img src="/icon-192-remove.png" style="width:45px;height:45px;"><img /> Geek⚡️Hub</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

 <div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mangas">
                <span class="oi oi-plus" aria-hidden="true"></span> Mangás & HQs
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="catalogo">
                <span class="oi oi-list" aria-hidden="true"></span> Catálogo
            </NavLink>
        </div>
  
        <AuthorizeView>
            <Authorized>
                <MangasCategoriaNavMenu></MangasCategoriaNavMenu>
            </Authorized>
            <NotAuthorized>
            </NotAuthorized>
        </AuthorizeView>

         <div class="nav-item px-3">
            <NavLink class="nav-link" href="https://localhost:7287/geekGPT">
                <span class="oi oi-list-rich" aria-hidden="true"></span> GeekGPT
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="https://localhost:7287/geekGPT2">
                <span class="oi oi-list-rich" aria-hidden="true"></span> GeekGPT2
            </NavLink>
        </div> 
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="https://localhost:7287/imageGenerator">
                <span class="oi oi-list-rich" aria-hidden="true"></span> GeekDALL·E
            </NavLink>
        </div> 
        <AuthorizeView>
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="fileuploader">
                        <span class="oi oi-cloud-upload" aria-hidden="true"></span> Enviar Arquivos
                    </NavLink>
                </li>
            </Authorized>
            <NotAuthorized>
            </NotAuthorized>
        </AuthorizeView>

    </nav>
</div> 

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
