<footer class="container">
    <hr class="featurette-divider">
    <div style="display:flex;">
        <p>
            © GeekHub - 2024 <br>👨‍💻 Feito por <a href="https://isaquepemasi.vercel.app/" style="text-decoration: none;">
                Isaque
            </a>
            <div style="margin-left:90px;">
                <a href="parceiros" style="text-decoration: none;">Parceiros</a>
            </div>
            <div style="margin-left:90px;">
                <a href="perguntas" style="text-decoration: none;">FAQ</a>
            </div>
            <div style="margin-left:90px;">
                <a href="sobre" style="text-decoration: none;">Sobre</a>
            </div>
            <div style="margin-left:90px;">
                <a href="contato" style="text-decoration: none;">Contato</a>
            </div>
            <div style="margin-left:90px;">
                <a href="politicas" style="text-decoration: none;">Cookies & Privacidade</a>
            </div>
        </p>
    </div>
</footer>