@page "/"

<link rel="icon" type="image/png" href="./favicon.png">

<PageTitle>GeekHub</PageTitle>

<h3>GeekHub</h3>

<img src="mangas.jpg" />
<img src="mangas.jpg" />

<br />

<footer class="container">
    <hr class="featurette-divider">
    <div style="display:flex;">
        <p>
            © GeekHub - 2024 <br>👨‍💻 Feito por <a href="https://isaquepemasi.vercel.app/" style="text-decoration: none;">
                Isaque P.
                Marques
            </a>
            <div style="margin-left:90px;"><a asp-area="" asp-controller="Home" asp-action="Parceiros">Parceiros</a></div><div style="margin-left:90px;"><a asp-area="" asp-controller="Home" asp-action="PerguntasFrequentes">Perguntas frequentes</a></div><div style="margin-left:90px;"><a href="contato" style="text-decoration: none;">Contato</a></div><div style="margin-left:90px;"><p class="float-right"><a href="" class="btn btn-sm btn-outline-secondary">Voltar ao topo</a></p></div>
        </p>
    </div>
</footer>