@page "/"
@inject IJSRuntime JSRuntime

<link rel="icon" type="image/png" href="./favicon.png">

<PageTitle>GeekHub</PageTitle>
@*intro animada*@
@*  <div class="intro">
    <h1 class="logo-header">
        <span class="logo">Pet</span><span class="logo">Amigo🐶</span>
    </h1>
</div>  *@

<img src="/pagina-incial.gif" style="width: 100%;border-radius:20px;" />
@* Descrições *@
<hr class="featurette-divider">
<div class="row featurette" id="modalExemplo01">
    <div class="col-md-7">
        <a href="https://localhost:7060/mangas" style="text-decoration: none;">
        <h2 class="featurette-heading" >
            Mangás e HQs. <span class="text-muted">
                Gerencie suas obras!
            </span>
            </h2>
        </a>
        <p class="lead">
            Você pode realizar 3 ações principais em relação aos mangás e/ou HQs: cadastrar, remover e editar. Essas operações envolvem a inclusão, exclusão e modificação de informações sobre cada obra, como título, autor, descrição, editora, data de publicação, formato, número de páginas, origem, cor, preço, estoque, categoria e imagem.

            Cadastrar refere-se à adição de uma nova obra ao sistema, onde você inseriria todas as informações relevantes, incluindo aquelas mencionadas anteriormente. Remover implica excluir uma obra específica do sistema, enquanto editar permite que você faça alterações nas informações de uma obra já cadastrada.

            Essas funcionalidades facilitam a gestão eficiente das informações sobre mangás e/ou HQs, oferecendo um controle abrangente sobre os detalhes de cada obra no sistema.
        </p>
    </div>
    <div class="col-md-5">
        <a href="https://localhost:7060/mangas" >
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500"
             style="width: 550px; height: 500px;border-radius:20px;" src="/Mangá.gif" data-holder-rendered="true">
             </a>
    </div>
</div>
<hr class="featurette-divider">
    <div class="row">
<div class="col-6">
        <a href="https://localhost:7060/MangasPorCategoria/1">
            <img src="/Aventura1.gif" style="width:500px;height:300px;border-radius:20px;" type="button" data-toggle="modal" alt="" />
        </a>
</div>
<div class="col-6">
    <a href="https://localhost:7060/MangasPorCategoria/3">
            <img src="/drama.gif" style="width:500px;height:300px;border-radius:20px;" type="button" data-toggle="modal" alt="" />
        </a>
</div>
    </div>
<hr class="featurette-divider">
<div class="row featurette">
    <div class="col-md-7 order-md-2">
        <a href="https://localhost:7060/catalogo" style="text-decoration: none;">
        <h2 class="featurette-heading">Catálogo. <span class="text-muted">Verifique o catálogo e as categorias!</span></h2></a>
        <p class="lead">
            Você tem a possibilidade de categorizar mangás e/ou HQs de maneira eficiente, organizando-os de acordo com suas respectivas categorias. Essa prática proporciona uma abordagem sistemática para a apreciação dessas obras, permitindo que os entusiastas e leitores localizem facilmente títulos que se alinham aos seus interesses específicos. Ao agrupar mangás e HQs por gênero, estilo artístico ou tema, cria-se uma experiência mais acessível e enriquecedora para os apreciadores, facilitando a descoberta de novas narrativas e ampliando a diversidade de opções disponíveis. Essa catalogação detalhada não apenas simplifica a navegação, mas também destaca a riqueza e a variedade presentes no mundo das histórias em quadrinhos, tornando a experiência de explorar essas obras ainda mais envolvente e personalizada para cada indivíduo.
        </p>
    </div>
    <div class="col-md-5 order-md-1">
        <a href="https://localhost:7060/catalogo" >
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500"
             style="width: 550px; height: 500px;border-radius:20px;" src="/Catalogo.gif" data-holder-rendered="true">
             </a>
    </div>
</div>
<hr class="featurette-divider">
<div class="row featurette">
    <div class="col-md-7"><a href="https://localhost:7287/geekGPT" style="text-decoration: none;">
        <h2 class="featurette-heading">GeekGPT.<span class="text-muted"> Implementando o ChatGPT!</span></h2></a>
        <p class="lead">
            A implementação do GeekGPT, também conhecido como ChatGPT, tem como propósito a resolução de perguntas feitas pelos usuários, desempenhando o papel de um ChatBot. Esse sistema analisa as perguntas dos usuários e oferece respostas instantâneas. Seu funcionamento é baseado na capacidade de compreender o contexto das perguntas e gerar respostas coerentes, proporcionando uma interação eficiente e intuitiva. Dessa forma, o GeekGPT visa melhorar a experiência do usuário ao facilitar o acesso a informações e soluções por meio de uma comunicação interativa e ágil.
        </p>
    </div>
    <div class="col-md-5">
        <a href="https://localhost:7287/geekGPT">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500"
             style="width: 550px; height: 500px;border-radius:20px;" src="/IA.gif" data-holder-rendered="true">
             </a>
    </div>
</div>
<hr class="featurette-divider">
<div class="row">
    <div class="col-6">
        <a href="https://localhost:7060/MangasPorCategoria/2">
            <img src="/ação.gif" style="width:500px;height:300px;border-radius:20px;" type="button" data-toggle="modal" alt="" />
        </a>
    </div>
    <div class="col-6">
        <a href="https://localhost:7060/MangasPorCategoria/4">
            <img src="/romance.gif" style="width:500px;height:300px;border-radius:20px;" type="button" data-toggle="modal" alt="" />
        </a>
    </div>
</div>
<hr class="featurette-divider">
<div class="row featurette">
    <div class="col-md-7 order-md-2"><a href="https://localhost:7287/imageGenerator" style="text-decoration: none;">
        <h2 class="featurette-heading">Gerador de imagens.<span class="text-muted"> Use a imaginação!</span></h2></a>
        <p class="lead">
            Caso ocorram problemas com as imagens em algum dos registros de mangás e/ou histórias em quadrinhos, o Gerador de Imagens está disponível para auxiliar. Este recurso utiliza inteligência artificial para criar uma imagem, preenchendo a lacuna e garantindo a integridade do cadastro.
        </p>
    </div>
    <div class="col-md-5 order-md-1">
        <a href="https://localhost:7287/imageGenerator">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500"
             style="width: 550px; height: 500px;border-radius:20px;" src="/gerador-de-imagens.gif" data-holder-rendered="true">
             </a>
    </div>
</div>


<ChangeBackgroundColor />
<CookieAlert />
<Rodape />
