@using System.Security.Claims;
<AuthorizeView>
    <Authorized>
        <a href="LogOut" style="color:white;background-color:#0C2262;border-radius:15px;"><img src="/goku.png" style="height:55px;width:55px;" />Logout</a>
    </Authorized>
    <NotAuthorized>
        <a href="Login" style="color:white;background-color:#0C2262;border-radius:5px;text-decoration: none;"><img src="/sailor-moon.png" style="height:55px;width:55px;" />Login</a>
    </NotAuthorized>
</AuthorizeView>