@page "/notauthorized"
<div style="text-align:center;">
    <DisplayMessage ErrorMessage="Usuário Não Autorizado" />
</div>
<br />
<p style="text-align:center;">Faça o <a href="https://localhost:7060/Login">Login</a> e tente novamente</p>
<br />
<img src="/stop-anime.gif" style="margin: auto; display: block;" />