@page "/manga/create"
@inject IMangaService _mangaService
@inject NavigationManager navigation

<h2>Novo Mangá</h2>

<MangaForm Manga="@manga" OnValidSubmit="CriarManga"
           ButtonTextCancelar="Cancelar"
           ButtonTextSubmit="Salvar">
</MangaForm>
<footer class="container">
    <hr class="featurette-divider">
    <div style="display:flex;">
        <p>
            © GeekHub - 2024 <br>👨‍💻 Feito por <a href="https://isaquepemasi.vercel.app/" style="text-decoration: none;">
                Isaque
            </a>
            <div style="margin-left:90px;">
                <a href="" style="text-decoration: none;">Parceiros</a>
            </div>
            <div style="margin-left:90px;">
                <a href="" style="text-decoration: none;">FAQs</a>
            </div>
            <div style="margin-left:90px;">
                <a href="contato" style="text-decoration: none;">Contato</a>
            </div>
            <div style="margin-left:90px;">
                <a href="" style="text-decoration: none;">Políticas de cookies & privacidade</a>
            </div>
        </p>
    </div>
</footer>

@code {

    private MangaDTO manga = new MangaDTO();

    async Task CriarManga()
    {
        try
        {
            await _mangaService.CreateManga(manga);
            navigation.NavigateTo("mangas");
        }
        catch (Exception)
        {
            throw;
        }
    }
}
