@page "/sobre"
<PageTitle>Sobre</PageTitle>
<body>

    <section id="home">
        <div class="container">
            <div class="row">
                <div class="col-md-6 d-flex">
                    <div class="align-self-center">
                        <h1 class="display-4">Sobre o Projeto</h1>
                        <br />
                        <p>
                            O GeekHub faz parte de um conjunto de três projetos, que foram desenvolvidos para a
                            avaliação final
                            da
                            Academia de .NET 2023, que é um programa de formação de Desenvolvedores de software da
                            <a href="https://atos.net/pt-br/brasil-atos" target="_blank" style="text-decoration: none;">Atos</a>,
                            ministrado pelos professores da <a href="https://www.ufn.edu.br/site/" target="_blank" style="text-decoration: none;">Universidade Franciscana</a>,
                            nesse link você pode visualizar o GitHub
                            da <a href="https://github.com/ricardofrohlich/academia_DotNet_5" target="_blank" style="text-decoration: none;">
                                Academia
                                .NET 2023
                            </a> e encontrar todo o conteúdo que foi ministrado .
                            Para este projeto final, foram desenvolvidas 3 aplicações, <a href="https://github.com/IsaquePemasi/GeekHub" target="_blank" style="text-decoration: none;">GeekHub</a> (Front-End),
                            <a href="https://github.com/IsaquePemasi/GeekHubApi" target="_blank" style="text-decoration: none;">GeekHubApi</a> (Back-End) e o <a href="https://github.com/IsaquePemasi/GeekHubIA" target="_blank" style="text-decoration: none;">GeekHubIA</a> (Front-End), feito com BlazorServer, para integrar as IAs.
                        </p>

                        <h2>
                            Visite os repositórios dos projetos e as redes sociais do desenvolvedor
                        </h2>
                        <br />
                        <section class="filter">
                            <h4>Repositórios</h4>
                            <a href="https://github.com/IsaquePemasi/GeekHub" target="_blank"
                                 class="btn btn-primary mr-2 ml-2 mb-4">Front-End</a>
                            <a href="https://github.com/IsaquePemasi/GeekHubApi" target="_blank"
                               class="btn btn-primary mr-2 ml-2 mb-4">Back-End</a>
                            <a href="https://github.com/IsaquePemasi/GeekHubIA" target="_blank"
                               class="btn btn-primary mr-2 ml-2 mb-4">IAs</a>
                            <br />
                            <h4>Redes Sociais</h4>
                            <a href="https://github.com/IsaquePemasi" target="_blank"
                               class="btn btn-primary mr-2 ml-2 mb-4">GitHub</a>
                            <a href="https://www.linkedin.com/in/isaquepemasi" target="_blank"
                                 class="btn btn-primary mr-2 ml-2 mb-4">LinkedIn</a>
                        </section>

                    </div>
                </div>
                <div class="col-md-6 d-none d-md-block">
                    <img src="/atos.png" class="custom-image" style="width: 496px;height: auto;">
                </div>
            </div>
        </div>

    </section>
</body>
<ChangeBackgroundColor />
<Rodape />