@page "/MangasPorCategoria/{CategoriaId:int}"

@if (MangasDto == null && MensagemErro == null)
{
    <Spinner />
}
else if (MensagemErro != null)
{
    <div style="text-align:center;">
    <DisplayMessage ErrorMessage="@MensagemErro" />
    </div>
    MensagemErro = null;
    <br>
    <p style="text-align:center;">Faça um <a href="https://localhost:7060/manga/create" style="text-decoration: none;">cadastro</a> de mangá, nessa categoria, e tente novamente</p>
    <br />
    <img src="/stop-anime.gif" style="margin: auto; display: block;" />
    <br />
    <footer class="container">
        <hr class="featurette-divider">
        <div style="display:flex;">
            <p>
                © GeekHub - 2024 <br>👨‍💻 Feito por <a href="https://isaquepemasi.vercel.app/" style="text-decoration: none;">
                    Isaque
                </a>
                <div style="margin-left:90px;">
                    <a href="" style="text-decoration: none;">Parceiros</a>
                </div>
                <div style="margin-left:90px;">
                    <a href="" style="text-decoration: none;">Perguntas frequentes</a>
                </div>
                <div style="margin-left:90px;">
                    <a href="contato" style="text-decoration: none;">Contato</a>
                </div>
                <div style="margin-left:90px;">
                    <a href="" style="text-decoration: none;">Políticas de cookies & privacidade</a>
                </div>
            </p>
        </div>
    </footer>
}
else
{
    <h3>@NomeCategoria</h3>

    @if (MangasDto.Count() > 0)
    {
        <div class="row mt-6">
            <ExibirMangas Mangas="@MangasDto"></ExibirMangas>
        </div>
        <footer class="container">
            <hr class="featurette-divider">
            <div style="display:flex;">
                <p>
                    © GeekHub - 2024 <br>👨‍💻 Feito por <a href="https://isaquepemasi.vercel.app/" style="text-decoration: none;">
                        Isaque
                    </a>
                    <div style="margin-left:90px;">
                        <a href="" style="text-decoration: none;">Parceiros</a>
                    </div>
                    <div style="margin-left:90px;">
                        <a href="" style="text-decoration: none;">FAQs</a>
                    </div>
                    <div style="margin-left:90px;">
                        <a href="contato" style="text-decoration: none;">Contato</a>
                    </div>
                    <div style="margin-left:90px;">
                        <a href="" style="text-decoration: none;">Políticas de cookies & privacidade</a>
                    </div>
                </p>
            </div>
        </footer>
    }

}

@code {
    [Parameter]
    public int CategoriaId { get; set; }

    [Inject]
    public IMangaService? _mangaService { get; set; }

    public IEnumerable<MangaDTO>? MangasDto { get; set; }

    public string? NomeCategoria { get; set; }
    public string? MensagemErro { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        try
        {
            //ProdutosDto = await ProdutoService.GetItensPorCategoria(CategoriaId);
            MangasDto = await _mangaService.GetMangasPorCategoria(CategoriaId);

            if (MangasDto != null && MangasDto.Count() > 0)
            {
                var mangaDto = MangasDto.FirstOrDefault(p => p.CategoriaId == CategoriaId);
                if (mangaDto != null)
                {
                    NomeCategoria = mangaDto.Categoria.Nome;
                }
            }
        }
        catch (Exception ex)
        {
            MensagemErro = "Categoria não encontrada";
        }
    }
}