@page "/perguntas"
<PageTitle>FAQ</PageTitle>
<img src="/perguntas.gif" style="width: 100%;border-radius:20px;" />
<hr class="featurette-divider">
<h3 style="text-align:center;">1. Como faço para registrar novos Mangás e HQs no GeekHub?</h3>
<br />
    Para <a class="btn btn-success" href="manga/create">registrar novos Mangás e HQs</a>, faça <a class="btn btn-success" href="https://localhost:7060/Login">login </a> na sua conta GeekHub. Lá, você encontrará a opção de adicionar novas obras, preenchendo os detalhes solicitados.
<br />
<br />
<h3 style="text-align:center;">
    2. Como posso visualizar o catálogo de Mangás e HQs no GeekHub?
</h3>
<br />
   Para visualizar o <a class="btn btn-success" href="https://localhost:7060/catalogo">catálogo </a>, vá até a seção "Catálogo" no menu principal do GeekHub. Lá, você terá acesso a uma lista completa de Mangás e HQs registrados. Você pode usar filtros para encontrar obras específicas.
<br />
<br />
<h3 style="text-align:center;">
    3. O que é o GeekGPT e como posso usá-lo?
</h3>
<br />
    O <a class="btn btn-success" href="https://localhost:7287/geekGPT2">GeekGPT </a> é nosso ChatBot baseado na tecnologia GPT-3.5. Ele está disponível para interação na seção "GeekGPT" do site. Use-o para tirar dúvidas, obter recomendações e explorar informações sobre Mangás e HQs.
<br />
<br />
<h3 style="text-align:center;">
    4. Como gerar imagens através do GeekDALL-E?
</h3>
<br />
   No <a class="btn btn-success" href="https://localhost:7287/imageGenerator">GeekDALL-E</a>, você pode gerar imagens relacionadas a Mangás e HQs. Basta iniciar uma conversa na seção "GeekDALL-E" e dizer sobre a imagem desejada. O GeekDALL-E fornecerá opções e orientações para criar as imagens desejadas.
<br />
<br />
<h3 style="text-align:center;">
    5. Como gerar uma descrição através do SpeekIA?
</h3>
<br />
   No <a class="btn btn-success" href="https://localhost:7287/speekIA">SpeekIA</a>, você pode gerar descrições através da fala, para os Mangás e HQs. Basta iniciar uma transcrição na seção "SpeekIA" e falar o que você quer que seja transformado em texto. O SpeekIA também fornece opção para transformar texto em fala, caso você deseje ouvir o que foi transcrito.
<br />
<br />
<h3 style="text-align:center;">
    6. Existe algum custo associado ao uso do GeekHub e GeekGPT?
</h3>
<br />
   O uso básico do GeekHub, incluindo o registro de obras e a visualização do catálogo, é gratuito. No entanto, o acesso a recursos premium, como funcionalidades avançadas do <a class="btn btn-success" href="https://localhost:7287/geekGPT2">GeekGPT </a> e <a class="btn btn-success" href="https://localhost:7287/imageGenerator">Gerador de imagens</a>, pode estar sujeito a limitações.
<br />
<br />
<h3 style="text-align:center;">
    7. Como faço para reportar um problema técnico ou fornecer feedback sobre o GeekHub?
</h3>
<br />
   Se você encontrar problemas técnicos ou desejar fornecer feedback, vá para a seção "Contato" no rodapé. Lá, você encontrará opções para entrar em <a class="btn btn-success" href="contato">contato</a> conosco, reportar problemas ou enviar sugestões.
<br />
<br />
<h3 style="text-align:center;">
    8. Posso contribuir com conteúdo para o GeekHub?
</h3>
<br />
   Sim, encorajamos a contribuição da comunidade! Na seção "Colaborar" do <a class="btn btn-success" href="https://github.com/IsaquePemasi/GeekHub">GeekHub</a>, você encontrará informações sobre como contribuir com novas obras, correções de informações e outros conteúdos relevantes.
<br />
<br />
Estas são algumas perguntas frequentes para orientar os usuários do GeekHub. Se tiver mais dúvidas, não hesite em nos contatar através da seção de <a class="btn btn-success" href="contato">contato</a>. Agradecemos por fazer parte da comunidade GeekHub!
<ChangeBackgroundColor />
<Rodape />