@page "/politicas"

<PageTitle>Políticas de Cookies & Privacidade</PageTitle>

<h1 style="text-align:center;">Política de Cookies</h1>
<br /><p style="text-align:center;">Data de entrada em vigor: 28/11/2023</p>
<br />
<h2 style="text-align:center;">
    1. Introdução
</h2>
<br />
Bem-vindo ao site GeekHub. Esta Política de Cookies explica como utilizamos cookies, pixels e tecnologias semelhantes para melhorar a sua experiência ao visitar nosso site. Ao continuar a navegar e usar nosso site, você concorda com o uso de cookies, conforme descrito nesta Política.
<br />
<br />
<br />
<h2 style="text-align:center;">
    2. O que são Cookies?
</h2>
<br />
Cookies são pequenos arquivos de texto que são armazenados no seu dispositivo (computador, tablet, smartphone, etc.) quando você visita um site. Esses arquivos permitem que o site reconheça seu dispositivo e registre informações sobre suas preferências ou ações anteriores. Além disso, os cookies permitem que possamos tornar a sua experiência no site mais personalizada e eficiente.
<br />
<br />
<br />
<br />
<h2 style="text-align:center;">
    3. Como Utilizamos Cookies?
</h2>
<br />
Utilizamos cookies por vários motivos, incluindo:
<br />
<br />
<h3>3.1 Melhorar a Experiência do Usuário</h3>
<br />
 Os cookies nos ajudam a lembrar de suas preferências, como idioma, tamanho de fonte e outras configurações do site, para que você não precise reconfigurá-las toda vez que visitar o site.
<br />
<br />
<h3>3.2 Análise e Desempenho</h3>
<br />
Utilizamos cookies para coletar informações sobre como os visitantes utilizam nosso site, quais páginas são mais visitadas, o tempo gasto em cada página e outros dados relevantes. Isso nos ajuda a entender como melhorar nosso site e torná-lo mais fácil de usar.
<br />
<br />
<h3>3.3 Marketing e Publicidade </h3>
<br />
Podemos utilizar cookies para exibir anúncios relevantes para você com base em suas atividades de navegação em nosso site. Isso nos ajuda a fornecer conteúdo mais adequado aos seus interesses.
<br />
<br />
<h2 style="text-align:center;">
    4. Tipos de Cookies Utilizados
</h2>
<br />
<br />
<h3>4.1 Cookies Essenciais </h3>
<br />
Estes cookies são necessários para o funcionamento básico do site e são geralmente configurados apenas em resposta a ações feitas por você, como solicitação de serviços ou preenchimento de formulários.
<br />
<br />
<h3>4.2 Cookies de Desempenho </h3>
<br />
Esses cookies coletam informações sobre como você usa o site, como páginas visitadas e mensagens de erro encontradas. Esses cookies não coletam informações que identificam você, todas as informações coletadas são agregadas e, portanto, anônimas.
<br />
<br />
<h3>4.3 Cookies de Funcionalidade </h3>
<br />
Esses cookies permitem que o site se lembre das escolhas que você faz (como seu nome de usuário, idioma ou região) e ofereça recursos aprimorados e personalizados.
<br />
<br />
<h3>4.4 Cookies de Publicidade </h3>
<br />
Esses cookies rastreiam informações sobre sua visita ao site, páginas visitadas e links seguidos, permitindo que possamos exibir anúncios relevantes para você.
<br />
<br />
<h2 style="text-align:center;">
5. Gerenciamento de Cookies
</h2>
<br />
Ao visitar nosso site, você pode aceitar ou recusar o uso de cookies, exceto aqueles estritamente necessários, através das configurações do seu navegador. A maioria dos navegadores permite que você gerencie suas preferências de cookies nas configurações. No entanto, ao desativar os cookies, certas funcionalidades do site podem ser prejudicadas ou inacessíveis.
<br />
<br />
<h2 style="text-align:center;">
6. Alterações nesta Política de Cookies
</h2>
<br />
Reservamo-nos o direito de modificar esta Política de Cookies a qualquer momento. Recomendamos que você acesse esta página regularmente para verificar se há atualizações. Quaisquer alterações entrarão em vigor assim que a nova versão da Política de Cookies for publicada em nosso site.
<br />
<br />
<h2 style="text-align:center;">
7. Contato
</h2>
<br />
Se tiver alguma dúvida ou preocupação relacionada a esta Política de Cookies, entre em contato conosco através dos detalhes fornecidos em nossa página de <a class="btn btn-success" href="contato">contato</a>.
Essa política de cookies visa informar aos visitantes do site GeekHub sobre como seus dados serão utilizados e garantir que a navegação seja transparente e segura. Lembre-se de que a política deve ser adaptada de acordo com a legislação vigente em sua localização e atualizada regularmente para refletir as práticas de privacidade em constante evolução.
<br />
<br />
<hr class="featurette-divider">
<h1 style="text-align:center;">
    Política de Privacidade
</h1>
<br />
Agradecemos por visitar o site GeekHub. Nesta Política de Privacidade, descrevemos como coletamos, usamos e protegemos as informações pessoais fornecidas pelos usuários ao acessarem nosso site. A privacidade dos nossos visitantes é de extrema importância para nós e estamos comprometidos em garantir a segurança e a confidencialidade de todas as informações fornecidas.
<br />
<br />
<h2 style="text-align:center;">
    1. Coleta de Informações Pessoais
</h2>
<br />
<br />
<h3>1.1 Informações Fornecidas pelos Usuários </h3>
<br />
Podemos solicitar informações pessoais identificáveis, como nome, endereço de e-mail, número de telefone, entre outros, quando você se inscrever em nossa newsletter, preencher formulários de contato ou fornecer informações durante o processo de compra de produtos ou serviços. Essas informações são fornecidas de forma voluntária e você tem o direito de optar por não divulgá-las.
<br />
<br />
<h3>1.2 Informações Coletadas Automaticamente </h3>
<br />
Também podemos coletar informações não identificáveis pessoalmente, como endereço IP, tipo de navegador, provedor de serviços de Internet (ISP), páginas de referência/saída, arquivos visualizados em nosso site (por exemplo, páginas HTML, gráficos, etc.), sistema operacional, carimbo de data/hora e/ou dados de cliques para análise de tendências, administração do site e coleta de informações demográficas. Essas informações são coletadas por meio de cookies ou tecnologias similares que nos ajudam a melhorar a experiência do usuário e personalizar o conteúdo apresentado.
<br />
<h2 style="text-align:center;">2. Uso das Informações Pessoais</h2>
<br />
<br />
<h3>2.1 Utilização Interna </h3>
<br />
As informações pessoais fornecidas pelos usuários serão utilizadas internamente para fornecer os serviços solicitados, personalizar a experiência do usuário, melhorar nosso site, enviar informações relevantes sobre nossos produtos e serviços, responder a consultas ou perguntas, e para fins de comunicação direta.
<br />
<br />
<h3>2.2 Compartilhamento de Informações </h3>
<br />
Não compartilharemos, venderemos, alugaremos ou divulgaremos suas informações pessoais a terceiros, exceto conforme descrito nesta Política de Privacidade ou quando exigido por lei.
<br />
<br />
<h3>2.3 Parceiros de Serviços </h3>
<br />
Podemos contratar terceiros confiáveis para auxiliar na operação do nosso site ou prestar serviços em nosso nome, como processamento de pagamentos, envio de e-mails ou análise de dados. Esses terceiros terão acesso limitado às informações pessoais dos usuários apenas para realizar essas tarefas em nosso nome e são obrigados a manter a confidencialidade dessas informações.
<br />
<br />
<h2 style="text-align:center;">3. Proteção de Informações Pessoais</h2>
<br />
<br />
<h3>3.1 Medidas de Segurança </h3>
<br />
Implementamos medidas de segurança adequadas para proteger as informações pessoais dos usuários contra acesso não autorizado, alteração, divulgação ou destruição. No entanto, é importante ressaltar que nenhuma transmissão de dados pela Internet ou armazenamento eletrônico é totalmente seguro, portanto, não podemos garantir a segurança absoluta das informações.
<br />
<br />
<h3>3.2 Retenção de Dados </h3>
<br />
Manteremos as informações pessoais fornecidas pelos usuários apenas pelo tempo necessário para cumprir os fins estabelecidos nesta Política de Privacidade, a menos que uma retenção mais longa seja exigida ou permitida por lei.
<br />
<h2 style="text-align:center;">
    <br />
    4. Links para Sites de Terceiros
</h2>
<br />
Nosso site pode conter links para sites de terceiros. Esta Política de Privacidade se aplica apenas ao site GeekHub. Ao acessar esses links, você será direcionado aos sites de terceiros, que têm suas próprias políticas de privacidade. Recomendamos que você leia as políticas de privacidade desses sites antes de fornecer qualquer informação pessoal.
<br />
<br />
<h2 style="text-align:center;">
    5. Consentimento e Alterações
</h2>
<br />
Ao utilizar nosso site, você concorda com a coleta e o uso das informações pessoais conforme descrito nesta Política de Privacidade. Reservamos o direito de atualizar ou modificar esta Política de Privacidade a qualquer momento, sem aviso prévio. Recomendamos que você reveja esta política periodicamente para se manter informado sobre como protegemos suas informações pessoais.
<br />
<br />
<h2 style="text-align:center;">
    6. Contato
</h2>
<br />
Se você tiver alguma dúvida, preocupação ou solicitação relacionada a esta Política de Privacidade ou ao uso das suas informações pessoais, entre em <a class="btn btn-success" href="contato">contato</a> conosco por meio das informações fornecidas no nosso site.

Esta Política de Privacidade é regida pelas leis do Brasil e quaisquer disputas decorrentes do uso deste site serão submetidas à jurisdição exclusiva dos tribunais competentes desse país.
<br />
<br />
<p style="text-align:center;">Atualizado em 01/12/2023</p>

<Rodape />